
/* About banner */
.aboutus_banner{
  background-image:  linear-gradient(0deg, rgba(6, 13, 1, 0.6), rgba(6, 13, 1, 0.6)),url(/public/banners.jpg);
  background-size: cover;
  width: 100%;
}

 .aboutus_banner_first{
color: white;
display: flex;
flex-direction: column;
text-align: center;
height: 70vh;
justify-content: center;
 }
/* Aboutus */

.aboutus_main_back{
    background-color: aliceblue;
  }
  .aboutus_main{
    display: grid;
    padding: 40px;
    grid-template-columns: 60% 40%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    gap: 50px;
  }
  .aboutus_main_first p{
    text-align: justify;
    letter-spacing: 2.3px;
  }
  .aboutus_main_first button{
      color: #ffffff;
      background-color: black;
      width: 30%;
      padding: 8px;
      border: none;
      border-radius: 8px;
  }
  .aboutus_main_first a:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(154, 154, 154);
  }
  .aboutus_main_first button:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(154, 154, 154);
  }
  .aboutus_main_second_video{
    width: 100%;
    height: 80%;
    margin-top: 50px;
  }
  .about_mission{
    background: url(/public/v1.png),#061738;
    /* background: #061738; */
    padding: 50px;
  }
  .about_mission h1{
    text-align: center;
    margin-bottom: 60px;
    color: white;
  }

  .about_mission_first{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    gap: 60px;
  }
  .about_mission_first h1{
    text-align: center;
  }
  .about_mission_first h3{
    color: white;
  }
  .about_mission_first p{
    text-align: justify;
    color: #cbcfd6;
    line-height: 33px;
  }
  /* media screen */

  @media screen and (min-width: 200px) and (max-width: 320px) {

    /* Aboutus */
  
  .aboutus_main_back{
    background-color: aliceblue;
  }
  .aboutus_main{
    display: grid;
    padding: 20px;
    grid-template-columns:auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    gap: 40px;
  }
  .aboutus_main_first p{
    text-align: justify;
    letter-spacing: 0.5px;
  }
  .aboutus_main_first button{
      color: #ffffff;
      background-color: black;
      width: 100%;
      padding: 8px;
      border: none;
      border-radius: 8px;
  }
  .aboutus_main_first a:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(154, 154, 154);
  }
  .aboutus_main_first button:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(154, 154, 154);
  }
  .aboutus_main_second_video{
    width: 100%;
    height: 100%;
  }
  }
  @media screen and (min-width: 320px) and (max-width: 550px) {

    /* Aboutus */
  
  .aboutus_main_back{
    background-color: aliceblue;
  }
  .aboutus_main{
    display: grid;
    padding: 20px;
    grid-template-columns:auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .aboutus_main_first p{
    text-align: justify;
    letter-spacing: 0.5px;
  }
  .aboutus_main_first button{
      color: #ffffff;
      background-color: black;
      width: 100%;
      padding: 8px;
      border: none;
      border-radius: 8px;
  }
  .aboutus_main_first a:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(154, 154, 154);
  }
  .aboutus_main_first button:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(154, 154, 154);
  }
  .aboutus_main_second_video{
    width: 100%;
    height: 300px;
    margin-top: 0px;

  }
  }
  @media screen and (min-width: 550px) and (max-width: 992px) {

    /* Aboutus */
  
  .aboutus_main_back{
    background-color: aliceblue;
  }
  .aboutus_main{
    display: grid;
    padding: 20px;
    grid-template-columns:auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .aboutus_main_first p{
    text-align: justify;
    letter-spacing: 0.5px;
  }
  .aboutus_main_first button{
      color: #ffffff;
      background-color: black;
      width: 24%;
      padding: 8px;
      border: none;
      border-radius: 8px;
  }
  .aboutus_main_first a:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(154, 154, 154);
  }
  .aboutus_main_first button:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(154, 154, 154);
  }
  .aboutus_main_second_video{
    padding: 0px;
    width: 100%;
    height: 300px;
  }
  }
  @media screen and (min-width: 992px) and (max-width: 1440px) {
    /* Aboutus */
  
  .aboutus_main_back{
    background-color: aliceblue;
  }
  .aboutus_main{
    display: grid;
    padding: 20px;
    grid-template-columns:60% 40%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    gap: 40px;
  }
  .aboutus_main_first p{
    text-align: justify;
    letter-spacing: 0.5px;
  }
  .aboutus_main_first button{
      color: #ffffff;
      background-color: black;
      width: 24%;
      padding: 8px;
      border: none;
      border-radius: 8px;
  }
  .aboutus_main_first a:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(154, 154, 154);
  }
  .aboutus_main_first button:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(154, 154, 154);
  }
  .aboutus_main_second_video{
    padding: 0px;
    width: 90%;
    height: 300px;
  }
  }