.blog_main{
    background:linear-gradient(0deg, rgba(33, 33, 33, 0.6), rgba(40, 40, 40, 0.6)), url(/public/gallerybanner.jpg);
    height: 350px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.blog_main_head h2,p{
    text-align: center;
}
.blog_main_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    color: white;   
}
/*  */
.recent_blog_main h2{
text-align: center;
margin-bottom: 20px;
}
.recent_blog_main_first img{
    width: 100%;
    height: 300px;
}
.recent_blog_main_first{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}



