.contact_main{
    background:linear-gradient(0deg, rgba(74, 74, 73, 0.6), rgba(74, 74, 73, 0.6)), url(/public/gallerybanner.jpg);
    height: 350px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.contact_main_head h2,p{
    text-align: center;
}
.contact_main_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    color: white;   
}
/*  */
.contact_form_main{
    display: grid;
    grid-template-columns: auto auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.contact_form_main_first h2{
    text-align: center;
}
.contact_form_main_second h2{
    text-align: center;
}
.contact_form_main_first_content_f{
    font-size: 20px;
    color:blue;
    width: 40px;
    height: 40px;
}