.bannerimg_main{
    height: 100%;
    width: 100%;
    /* background-image:linear-gradient(to right, rgba(255, 255, 255, 0), rgb(229, 111, 111)); */
    background-image: url(/public/hero.jpg.webp);
    background-size: cover;
    padding: 100px;
}
.bannerimg_main_first h1{
    font-size: 45px;
}
.bannerimg_main_first h1{
    font-weight: 600;
    color: #ffffff;
    

}
.bannerimg_main_first p{
    font-weight: 600;
    color: #ffffff;

}
/*  */
.discovery_main{
    background-color: aliceblue;
    padding: 50px;
    margin-bottom: 40px;
}
.discovery_main_first{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.discovery_main_first h1{
text-align: center;
font-family: 'Kanit', sans-serif;
}
.discovery_main_first p{
    text-align: center;
    margin-bottom: 30px;
    }
.discovery_main_second{
    display: flex;;
    gap: 80px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
   margin-bottom: 40px;
}
.discovery_main_second_second{
    padding-top: 50px;
}
.discovery_main_second_second span{
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    border-bottom: 4px solid orange;
    margin-bottom: 20px;
}
.discovery_main_second_third{
display: flex;

}
.discovery_main_second_third h1{
    font-size: 3.5rem;
    color: rgb(111, 110, 110);
}
.discovery_main_second_third_first h5{
    margin-top: 10px;
}
.discovery_main_second_third_second h5{
    margin-top: 10px;
}
/*  */

.major_main{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 40px;
    
}
.major_main_first{
    border: 1px solid rgb(193, 193, 193);
    text-align: center;
    padding: 50px;
}
.major_main_first img{
    width: 50px;
    height: 45px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}


  @media screen and (min-width:200px) and (max-width:320px) {
    .bannerimg_main{
        height: 100%;
        width: 100%;
        background-image: url(/public/hero.jpg.webp);
        background-size: cover;
        padding: 5px;
        margin-bottom: 30px;
    }
    .bannerimg_main_first h1{
        font-size: 20px;
        padding: 10px;
    }
    .bannerimg_main_first h1{
        font-weight: 400;
        color: #ffffffc9;
    
    }
    .bannerimg_main_first p{
        font-weight: 400;
        color: rgb(255, 255, 255);
        padding: 0 10px;
    
    }
    /*  */
.discovery_main{
    background-color: aliceblue;
    padding: 50px;
}
.discovery_main_first{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.discovery_main_first h1{
text-align: center;
font-family: 'Kanit', sans-serif;
}
.discovery_main_first p{
    text-align: center;
    margin-bottom: 30px;
    }
.discovery_main_second{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
   margin-bottom: 40px;
}
.discovery_main_second_second{
    padding-top: 50px;
}
.discovery_main_second_second span{
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    border-bottom: 4px solid orange;
    margin-bottom: 30px;
}
.discovery_main_second_third{
display: flex;
flex-wrap: wrap;

}
.discovery_main_second_third h1{
    font-size: 3.5rem;
    color: rgb(111, 110, 110);
}
.discovery_main_second_third_first h5{
    margin-top: 10px;
}
.discovery_main_second_third_second h5{
    margin-top: 10px;
}
    /*  */
    .major_main{
        display: grid;
        grid-template-columns: auto;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-bottom: 40px;
        
    }
    .major_main_first{
        border: 1px solid rgb(193, 193, 193);
        text-align: center;
        padding: 50px;
    }
    .major_main_first img{
        width: 50px;
        height: 45px;
        color: rgb(0, 0, 0);
        margin-bottom: 20px;
    }
   
  }
  @media screen and (min-width:320px) and (max-width:550px) {
    .our_clients_main_first_flex1,.our_clients_main_first_flex2,.our_clients_main_first_flex3,.our_clients_main_first_flex4,.our_clients_main_first_flex5,.our_clients_main_first_flex6 {
        flex: 100%;
      }
      .our_clients_main_first{
          padding: 50px 50px 50px 80px;
          gap: 40px;
      }

      .bannerimg_main{
        height: 100%;
        width: 100%;
        background-image: url(/public/hero.jpg.webp);
        background-size: cover;
        padding: 5px;
        margin-bottom: 30px;
    }
    .bannerimg_main_first h1{
        font-size: 20px;
        padding: 10px;
    }
    .bannerimg_main_first h1{
        font-weight: 400;
        color: #ffffffc9;
    
    }
    .bannerimg_main_first p{
        font-weight: 400;
        color: rgb(255, 255, 255);
        padding: 0 10px;
    
    }
      /*  */
.discovery_main{
    background-color: aliceblue;
    padding: 50px;
}
.discovery_main_first{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.discovery_main_first h1{
text-align: center;
font-family: 'Kanit', sans-serif;
}
.discovery_main_first p{
    text-align: center;
    margin-bottom: 30px;
    }
.discovery_main_second{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
   margin-bottom: 40px;
}
.discovery_main_second_second{
    padding-top: 50px;
}
.discovery_main_second_second span{
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    border-bottom: 4px solid orange;
    margin-bottom: 30px;
}
.discovery_main_second_third{
display: flex;
flex-wrap: wrap;

}
.discovery_main_second_third h1{
    font-size: 3.5rem;
    color: rgb(111, 110, 110);
}
.discovery_main_second_third_first h5{
    margin-top: 10px;
}
.discovery_main_second_third_second h5{
    margin-top: 10px;
} 
  }
  @media screen and (min-width:550px) and (max-width:992px){
    .our_clients_main_first_flex1,.our_clients_main_first_flex2,.our_clients_main_first_flex3,.our_clients_main_first_flex4,.our_clients_main_first_flex5,.our_clients_main_first_flex6 {
        flex: 100%;
      }
      .our_clients_main_first{
          padding: 50px 50px 50px 80px;
          gap: 40px;
      }

      .bannerimg_main{
        height: 100%;
        width: 100%;
        background-image: url(/public/hero.jpg.webp);
        background-size: cover;
        padding: 5px;
        margin-bottom: 30px;
    }
    .bannerimg_main_first h1{
        font-size: 20px;
        padding: 10px;
    }
    .bannerimg_main_first h1{
        font-weight: 400;
        color: #ffffffc9;
    
    }
    .bannerimg_main_first p{
        font-weight: 400;
        color: rgb(255, 255, 255);
        padding: 0 10px;
    
    }
    .discovery_main_second_third_first h5{
        margin-top: 10px;
    }
    .discovery_main_second_third_second h5{
        margin-top: 10px;
    }
  }